<div
    *ngIf="view"
    [class]="sStyl"
    [id]="sId">

    <div>
        {{sComp}}
    </div>

    <mat-list
        fxFlex="grow"
        furyScrollbar
        class="navigation">

        <div matSubheader>
            {{sText}}
        </div>

        <kwc-title
            *ngIf="title"
            (changed)="onChanged($event)"
            [dataIn]="data"
            [initsIn]="inits"
            [viewIn]="view">

        </kwc-title>

        <kwc-opts-chk
            *ngFor="let chk of chks"
            (changed)="onChanged($event)"
            [dataIn]="data"
            [initsIn]="inits"
            [viewIn]="chk">

        </kwc-opts-chk>

    </mat-list>

</div>
